body {
    font-family: Catamaran, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #929292;
    background-color: #fff;
    overflow-x: hidden !important;
    position: relative;
}
.navbar-nav .nav-item .nav-link{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        height: 100%;
        padding: 0 22px;
        color: #080808;
        font-size: 12px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: .1em;
        text-transform: uppercase;
        box-sizing: border-box;
}
.navbar-nav .nav-item .nav-link.active{
    color: #929292;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #929292;
}
.mkd-header-cart {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #929292;
    margin: 0 10px;
}
.mkd-header-cart .mkd-cart-icon-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1em;
    color: #080808;
    font-weight: 700;
}
.mkd-header-cart .mkd-cart-icon-text:hover{
    color: #929292;
}
.mkd-shopping-cart-holder .mkd-header-cart .mkd-cart-info {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 5px;
    font-size: 12px;
    line-height: 1;
    clear: both;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #929292;
}
.mkd-shopping-cart-holder .mkd-header-cart .mkd-cart-info .mkd-cart-info-total {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.banners-sliders  .carousel-caption {
    position: absolute!important;
    color: #fff!important;
    text-align:left!important;
    width:60%!important;
    top:90px;
    right: 200px!important;
    z-index: 999!important;

}
.banners-sliders  .carousel-item img{
    height: 500px;
}
.banners-sliders h2{
    letter-spacing: 3px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 40px;
    font-weight: 700;
    font-size: 30px;
    z-index: 99;
}
.banners-sliders p{
    color: rgb(153, 153, 153);
    text-decoration: none;
    white-space: normal;
    width: 351px;
    height: 62px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 16px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.banners-sliders .carousel-control-prev , .carousel-control-next{
    font-size: 42px!important;
    color: #595959 !important;
    line-height: 60px !important;
    text-align: center!important;
    background: transparent!important;
}
.banners-sliders .carousel-control-prev:hover ,  .carousel-control-next:hover{
    color: rgb(255, 0, 0)!important;
    background: transparent!important;
}
.banners-sliders .carousel-control-prev {
    width:7%;
}
.banners-sliders .carousel-control-next {
    width:7%;
}
.carousel-indicators{
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-right: 0%;
  margin-bottom: 0rem;
  margin-left: -3.7%;
  flex-direction: column;
  top: 40%;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 35px;
    height: 2px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #080808;
    background-clip: padding-box;
    border: 0;
      border-top-width: 0px;
      border-top-style: none;
      border-top-color: currentcolor;
      border-bottom-width: 0px;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
  }
  .carousel-indicators .active{
    background-color: #080808;
    opacity: 1;
    width:75px;
    height: 2px;
  }
/* .banners-sliders .carousel-indicators {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: -40px;
    left: 0;
    flex-direction: column;
    top: 0;
  }
  .banners-sliders .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 60px;
  height: 2px;
  padding: 0;
  cursor: pointer;
  background-color: #080808;
  background-clip: padding-box;
  border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .3;
  transition: opacity .9s ease;
} */
.mkd-pli-new-product{
    color: #080808;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #080808;
    border-radius: 8px;
    padding: 4px 16px;
}
.mkd-pli-new-product:hover{
    background-color: #080808;
    color: #fff;
}
/* .product-card h5 a{
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    color:  #080808;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
} */
 .card-title-name{
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    color:  #080808;
    text-transform: uppercase;
    letter-spacing: 1px;

}
select:focus{
    box-shadow: none!important;
    border: 1px solid #080808!important;
}
.mkd-pli-price {
    color: #999;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    opacity: 1;
    transition: all .3s ease;
    will-change: transform;
    margin-top:8px;
}
.fa-info{
    border-radius: 50%;
    padding: 7px 12px;
    border: 2px solid rgb(220, 53, 59) !important;
    font-size: 16px;
}
.fa-info:hover{
    border-radius: 50%;
    padding: 7px 12px;
    background-color:  rgb(220, 53, 59) !important;
    font-size: 16px;
    color: #fff!important;
}
.product-card .card:hover .mkd-pli-price {
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0;
}
.mkd-pli-add-to-cart {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.product-card .card:hover .mkd-pli-add-to-cart{
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .4s .1s;
    -moz-transition: all .4s .1s;
    transition: all .4s .1s;
}
.mkd-widget-title {
    color: #080808;
    letter-spacing: .1em;
    margin-top: -8px;
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
    text-transform: uppercase;
}
footer ul li{
    padding-top: 6px;
    text-decoration: none;
    list-style-type: none;
}
footer ul li a:hover {
    color: #080808;
    font-size: 14px;
}
footer ul li a {
    color: #929292;
    font-size: 14px;
}
.cart-footer{
    background-color: #080808;
}
.cart-footer ul li a:hover {
    color: #929292;
    font-size: 14px;
}
.cart-footer ul li a {
    color: #fff;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #080808;
}
.product-card .card:hover{
    border: 1px solid#080808!important;
    border-radius: 0!important;
}
  
  .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
  }
  /* .login-modal .nav-item{
    border: 1px solid #e1e1e1;
} */
.login-modal .nav-item .nav-link.active{
    background-color: #080808;
    color: #fff!important;
    border: none;
    border-radius: 0;
}
  .login-modal .nav-item .nav-link{
    background-color: #eaeaea;
    color: #080808;
    font-size: 16px;
    line-height: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 16px 68px;
    border-radius: 0;
}
.login-modal .nav-item .nav-link:hover{
    background-color: #080808;
    color: #fff;
    border-radius: 0;
}
.login-modal input[type=password] ,.login-modal input[type=text] ,.login-modal input[type=email]{
    position: relative;
    width: 100%;
    margin: 0 0 14px;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: inherit;
    color: #929292;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    outline: 0;
    box-sizing: border-box;
    height: 50px;
}
.login-modal .nav-tabs .nav-link{
    color: #080808;
}
.login-modal .nav-tabs .nav-link.active{
    color: #080808;
}
input[type=text]:focus , input[type=password]:focus , input[type=email]:focus{
    background: #fafafa;
    border: 1px solid #e1e1e1;
    box-shadow: none ;
}
.auth-wrapper {
    position: relative;
    min-height: 100vh;
  }
  .btn-login-close{
    font-size: 44px;
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-weight: 500;
    background: transparent!important;
    border: none !important;
  }.btn-login-close:hover{
    color: #080808;
  }
.cart-container{
    position: relative;
    height: 325px;
    background-image: url(../img/faq-title-img.jpg);
}
.cart-container h2{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 25;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
}
.cart-header{
    font-size: 24px;
    text-align: center;
    color: #080808;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.cart-button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    font-size: 14px;
    color: #fff;
    background-color: #080808;
    border: 2px solid transparent;
    padding: 14px 46px;
    cursor: pointer;
    z-index: 3;
    border-radius: 0;
}
.cart-button:hover{
    background-color: #313131;
}
.cart-footer .mkd-widget-title{
    color: #fff;
    padding-top: 50px;
}
.indicator-text{
    /* position: absolute;
    left: -25px;
    top: -10px; */
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #999;
    transition: color .2s;
}
.carousel-indicators button.active + .indicator-text {
    color: #080808!important; /* Active color */
    opacity: 1!important;
}
.price {
    position: relative;
    margin: 0 0 61px;
    line-height: 1;
    color: #080808;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}
.mkd-single-product-title{
    margin: 0 0 7px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    color: #080808;
}
table thead tr th{
    font-size: 16px!important;
    color: #080808!important;
    line-height: 20px!important;
    font-weight: 500!important;
 
}
.tab-pane table th{
    font-size: 14px!important;
    color: #080808!important;
    line-height: 20px!important;
    font-weight: 500!important;
}
th, td {
    vertical-align: middle; /* Vertical centering */
    padding: 10px; /* Optional: add some padding */
}
.price-table-input .form-select:focus{
    background: #fafafa;
    border: 1px solid #080808!important;
    box-shadow: none !important;
}
.product-info input:focus{
    background: #fafafa;
    border: 1px solid #080808!important;
    box-shadow: none !important;
}
.search-related-items input{
    background: #fff;
    border: 1px solid #080808!important;
    height: 45px;
}
.search-related-items input , .search-related-items select{
    background: #fff;
    border: 1px solid #080808!important;
    height: 45px;
}
.search-related-items input:focus , .search-related-items select:focus{
    background: #fafafa;
    border: 1px solid #080808!important;
    box-shadow: none !important;
}
.search-related-items label{
    font-size: 16px;
    color: #080808;
}
.product-info input{
    background: #fff;
    border: 1px solid #080808!important;
    height: 45px;
}

.product-info button{
    background-color: #080808;
    border: 1px solid #080808;
    color: #fff;
    width: 130px;
    height: 45px;
}
.add-to-cart{
    font-size: 12px;
    line-height: 22px;
    color: #080808;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.description .nav-item{
    border: 1px solid #e1e1e1;
}
.description .nav-item .nav-link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #323232;
    background-color: #fafafa;
    text-transform: uppercase;
    border: none;
    padding: 16px 30px;
}
.description .nav-item .nav-link.active{
    background-color: #080808;
    color: #fff;
    border: none;
    border-radius: 0;
}
.quantity-text .input-group-text{
  height: 50px;
  border-radius: 0px;
  border-right: none !important;
  width: 130px;
  text-align: center;
  padding-left: 33px;
}
.quantity-text input{
    height: 50px;
    border-radius: 0px;
    border-left: none!important;
    font-size: 18px;
    padding-left: 10px;
}
.quantity-text input:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.quantity-text button{
    height: 50px;
    vertical-align: middle;
    width: auto;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 13px 46px;
    font-size: 12px;
    color: #fff;
    background-color: #080808;
    border: 2px solid transparent;
    padding: 7px 46px;
    cursor: pointer;
    z-index: 3;
    border-radius: 0;
}
.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
  .btn-outline-success {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
  }
  .contact-section h3{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 20px 0;
    color: #080808;
    text-transform: uppercase;
}
.contact-section p{
    font-size: 16px;
    margin: 20px 0;
    width: 90%;
    text-align: justify;
}
textarea:focus{
  background: #fafafa!important;
  border: 1px solid #e1e1e1!important;
  box-shadow: none!important;
}
.facebook{
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    background-color: #080808;
}
@media only screen and (max-width: 576px) {
        .banners-sliders .carousel-caption {
    width: 80%!important;
    top: 110px;
    left: 50px!important;
}
    .banners-sliders .carousel-caption h2 {
    font-size: 22px!important;
    padding-bottom: 0px;
}
    .banners-sliders .carousel-caption p {
    font-size: 26px!important;
    line-height: 30px!important;
}
    .banners-sliders .carousel-caption a.btn {
    font-size: 16px!important;
    padding: 12px 20px;
}
    .banners-sliders .carousel-item img {
    height: 550px!important;
}
}
